<strong><%= comment.name %></strong><br>
<p>Submitted <%= time_ago_in_words(comment.created_at) %> Ago</p>
<p> 
  <%= link_to 'Delete', [comment.post, comment], method: :destroy, data: { confirm: 'Are you sure?'} %>
</p>
<%= comment.body %>
<hr>