<h1>this is  root</h1>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>  
<h2>Elements</h2>
<% @posts.each do |post| %>
  <h2 class="title"><%= link_to post.title, post%></h2>
  <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
<% end %>